/* src/style/Navbar.css */
.container {
    padding: 0 !important;
}

.btn-start-visualizing {
    background-color: #7b73eb;
    border-color: #7b73eb;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
}

.btn-start-visualizing:hover {
    background-color: #6a66d4;
    /* Slightly darker shade of #7b73eb */
    border-color: #6a66d4;
}

.btn-login {
    background-color: #FFBF00;
    border-color: #FFBF00;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #e79f0f;
    /* Slightly darker shade of #fdac0b */
    border-color: #e79f0f;
}
.btn-signup {
    background-color: #fd997a;
    border-color:#fd997a;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
}

.btn-signup:hover {
    background-color: #f06b43;
    /* Slightly darker shade of #fdac0b */
    border-color:#f06b43;
}

body {
    font-family: 'CustomFont', sans-serif;
    /* font-weight: bold; */
    /* Apply the custom font */
}
