/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'CustomFont';
    src: url('./PorterBold.ttf') format('truetype'); /* Adjust the path and filename */
    font-weight: normal;
    font-style: normal;
  }
